.footer
  position: relative
  &-container
    padding-top: 69px
    display: flex
    justify-content: flex-end
.map
  position: absolute
  left: 0
  width: 50%
.contacts    
  max-width: 373px
  width: 50%
  &-list
    list-style: none
    padding: 0
    &__icon
      min-width: 20px
      min-height: 20px
      margin-right: 22px
    &__item
      display: flex
      justify-content: flex-start
      margin-bottom: 40px
      max-width: 190px
    &__phone
      text-decoration: none
      color: $main-text    
  &__title
    font-size: 22px
    line-height: 33px
    margin: 0
    margin-bottom: 100px
    +bold
 
@media (max-width: 1200px)  
  .contacts
    padding-left: 30px
@media (max-width: 768px)
  .footer
    min-height: 1098px
    &-container
      justify-content: center  
  .map
    width: 100%   
    bottom: 0
  .contacts
    width: 100%
    &__title
      margin-bottom: 33px
      font-size: 18px
      line-height: 1.3
  