.hero
  padding: 52px 0 48px 0
  background-color: $secondary
  &-block
    display: flex
  &-text
    flex-basis: 51%
    padding-right: 50px
  &-image
    img
      box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05)
  &__title
    margin-bottom: 38px
    font-size: 41px
    line-height: 55px
    +bold
  &__subtitle
    display: inline-block
    margin-bottom: 68px
    font-size: 20px
    padding-left: 0
    +bold
  &-list
    padding: 0
    margin: 0
    &__item
      margin-bottom: 26px
      display: flex
      align-items: center
      &:last-child
        margin-bottom: 0
      
    &__image
      display: flex
      align-items: center
      justify-content: center
      min-width: 40px
      height: 40px
      border: 2px solid $main-color
      border-radius: 50%
    &__text
      margin-left: 30px
      max-width: 250px
      font-size: 14px
      line-height: 24px

@media (max-width: 1200px)
  .hero
    
    &-text
      padding-right: 0
      flex-basis: 70%
    &__title
      font-size: 26px
      line-height: 34px
    &__subtitle
      margin-bottom: 30px
    &-list
      &__item
        margin-bottom: 10px
@media (max-width: 768px)
  .hero
    padding-top: 26px
    padding-left: 5px
    &-block
      flex-direction: column
    &__title
      font-size: 24px
      line-height: 1.2
      margin-bottom: 10px      
    &__subtitle
      font-size: 16px
      margin-bottom: 28px
      max-width: 200px
    &-image
      margin-top: 0
    &-list
      margin-bottom: 38px
      &__item
        margin-bottom: 20px
      &__text
        font-size: 12px
        margin-left: 15px
        line-height: 1.2

