.navbar
  padding: 6px 0 4px
  &-block
    display: flex
    align-items: center
    justify-content: space-between
  &__info
    display: flex
    align-items: center
    margin-top: -2px
  &__contacts
    display: flex
    flex-direction: column
    text-align: right  
  
  &__address
    font-size: 13px   
  &__phone
    text-decoration: none
    font-size: 20px
    +bold
    margin-top: 6px
    color: $main-text
  &__button
    margin-left: 29px
    width: 170px        
  

@media (max-width: 768px)
    .navbar
      &__contacts
        display: none
      &__logo
        width: 90px
@media (max-width: 567px)
  .navbar
    padding-bottom: 14px
    &__button
      margin-right: 10px
      font-size: 10px
      padding: 14px 25px
      border-radius: 5px
      width: 137px


