.offer
  background: url(../img/offer-bg.jpg) no-repeat
  background-size: contain
  background-position: right
  position: relative
  padding: 84px 0 92px 
  &:before
    content: ''
    background-color: #ffffff
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%

  &-block
    width: 50%
    padding-right: 90px
    position: relative
  &__title
    max-width: 350px
    line-height: 35px
    margin-bottom: 19px
    text-align: left
  &__subtitle
    display: block
    margin-bottom: 30px
    +bold
    max-width: 250px
    letter-spacing: -0.3px
  &__input
    margin-bottom: 30px
    width: 240px
    &:focus
        outline: none
        border-color: orange
    &:first-child
      margin-right: 10px
      
  &__button
    width: 100%
    font-size: 16px
    padding: 27px 0
    margin-bottom: 25px
  &__footer
    display: flex
    justify-content: space-between
    span
      line-height: 24px
      max-width: 230px
      font-size: 15px
      color: #333333
      &:last-child
        max-width: 200px
    b
      +bold
@media (max-width: 1200px)
  .offer
    background-size: cover    
    &__input
      width: 100%
      margin-bottom: 10px
    &__footer
      flex-direction: column
      span:first-child
        margin-bottom: 5px
    &__button
      font-size: 14px
@media (max-width: 768px) 
  .offer
    background: #ffffff
    padding-top: 21px
    &-block
      width: 100%
      padding-right: 15px
    &__title
      font-size: 18px
      line-height: 1.2
      margin-bottom: 17px
    &__subtitle
      letter-spacing: -1.3px
      margin-bottom: 24px
    &__button
     margin-bottom: 22px
     padding: 19px 53px
    &__footer
      margin-left: 6px
    